{% extends 'layout.html' %}

{% block body %}
<body class="center-box">
  <div class="fill-first background-darkblue container-fluid text-center center-box">
    <div>
      <h1>Please Upload an Image</h1>
      <hr style="width: 60%; background: #fff;">
      <p><input name='text' type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>
      <label for="file" class="btn btn-front-margin btn-outline-light" style="cursor: pointer;">Upload Image</label>
    </div>

  </div>
  <div class="fill background-beige container-fluid text-center">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="about-page-sub-title">Image</h1>
        <img id="output" height="height" width="400" />
      </div>
      <div class="col-lg-6">
        <h1 class="about-page-sub-title">Information</h1>
      </div>
    </div>
  </div>
</body>
<!-- <form action="/info" method="POST">
  <input name="text">
  <input type="submit" value="Submit">
  </form>

  {% if text %}
    You said: {{ text }}
  {% endif %}-->
<script>
  var loadFile = function(event) {
      var image = document.getElementById('output');
      image.src = URL.createObjectURL(event.target.files[0]);
      alert(image.src);
  return image.src;
  };
</script>
{% endblock %}
